/*!base css start*/


*{
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    height: 100vh;
}
/*!base css end*/

.navbar{
    background-color:#000 ;
    height: 60px;
    color: white;

}

.sidebar{
background-color:#000 ;
color: white;
height: 100%;
width: 50px;
  
}